on:
  push:
    branches:
      - main

jobs:
  build_image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - 
        uses: actions/setup-node@v1
        with:
          node-version: 14
      -
        name: lint
        run: yarn lint
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: harbor.teamfrag.net
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push bot
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile_bot
          push: true
          tags: harbor.teamfrag.net/private/tftpoelinkbot/tftpoelinkbot:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}